<!DOCTYPE html>
<html lang="en" class="darkmode" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEAR WELL FASHION STORE</title>
    <!--================= Favicon =================-->
    <link rel="apple-touch-icon" href="/images/fav.png">
    <link rel="shortcut icon" type="image/x-icon" href="/images/fav.png">
    <!--================= Bootstrap V5 CSS =================-->
    <link rel="stylesheet" type="text/css" href="/Stylesheets/bootstrap.min.css">
    <!--================= Font Awesome 5 CSS =================-->
    <link rel="stylesheet" type="text/css" href="/Stylesheets/all.min.css">
    <!--================= RT Icons CSS =================-->
    <link rel="stylesheet" type="text/css" href="/Stylesheets/rt-icons.css">
    <!--================= Animate css =================-->
    <link rel="stylesheet" type="text/css" href="/Stylesheets/animate.min.css">
    <!--================= Magnific popup Plugin =================-->
    <link rel="stylesheet" type="text/css" href="/Stylesheets/magnific-popup.css">
    <!--================= Swiper Slider Plugin =================-->
    <link rel="stylesheet" type="text/css" href="/Stylesheets/swiper-bundle.min.css">
    <!--================= Mobile Menu CSS =================-->
    <link rel="stylesheet" type="text/css" href="/Stylesheets/metisMenu.css">
    <!--================= Main Menu CSS =================-->
    <link rel="stylesheet" type="text/css" href="/Stylesheets/rtsmenu.css">
    <!--================= Preloader CSS =================-->
    <link rel="stylesheet" type="text/css" href="/Stylesheets/preloader.css">
    <!--================= Main Stylesheet =================-->
    <link rel="stylesheet" type="text/css" href="/Stylesheets/variables/variable1.css">
    <!--================= Main Stylesheet =================-->
    <link rel="stylesheet" type="text/css" href="/Stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<%- include('partials/user-navbar2.ejs') %>

    <div class="rts-checkout-section">
        <div class="container">
            <form action="/checking-out" method="post" id="checkout-form" onsubmit="return false;">
                <div class="row justify-content-between">
                    <div class="col-xl-8">
                        <div class="coupon-area">
                            <div class="coupon-ask">
                                <span>Have a coupon?</span>
                                <button class="coupon-click"><a href="/show-coupons" class="apply-btn">Click here to select the coupon</a></button>
                            </div>

                        </div>

                        <div class="col-xl-7 d-flex w-100  justify-content-around">
                            <% userAddress.forEach(element=> { %>

                                <div class="card border-danger w-75 d-flex" style="max-width: 25rem;">
                                    <div class="card-header">Address</div>
                                    <div class="card-body text-danger">
                                        <h5 class="card-title">
                                            <%= element.firstName %>
                                                <%= element.lastName %>
                                        </h5>
                                        <p class="card-text">
                                            <%= element.houseNo %>,
                                                <%= element.place %>,
                                                    <%= element.landMark %>,
                                                        <%= element.pinCode %>
                                                            <%= element.state %> ,<%= element.country %>

                                                                    <%= element.phone %>
                                                                        <%= element.Email %>
                                        </p>
                                        <input class="with-gap" name="group1" type="radio" id="test1"
                                            value="<%=element._id%>" />

                                    </div>
                                </div>
                                <% }); %>

                        </div>
                        <a href="/add-address" class="btn btn-outline-danger" <button id="on-click-show">ADD
                            ADDRESS</button></a>


                    </div>
                    <div class="col-xl-4">
                        <div class="action-item">
                            <div class="action-top">
                                <span class="action-title">Product</span>
                                <span class="subtotal">Price</span>
                            </div>

                            <%cartData.forEach(item=>{ %>
                                <div class="category-item">
                                    <div class="category-item-inner">
                                        <div class="category-title-area">
                                            <span class="category-title">

                                                <%= item.product.title %> × <%= item.quantity %>
                                            </span>
                                        </div>
                                        <div class="price">
                                            <%= item.total %>.$
                                        </div>
                                    </div>
                                </div>
                                <% }) %>


                                    <div class="action-middle">
                                        <span class="subtotal">Subtotal</span>
                                        <span class="total-price">
                                            <%= cart.subTotal %>.$
                                        </span>
                                    </div>
                                    <div class="action-middle">
                                        <span class="text-sm-right">Shipping charge</span>
                                        <span>Free</span>
                                    </div>
                                    <div class="action-middle">
                                        <span class="text-sm-right">Coupon Discount</span>
                                        <span id="discount<%= cart._id %>">0</span>
                                    </div>

                                    <div class="action-bottom">
                                        <span class="total">Total</span>
                                        <span class="total-price" id="newsubT<%= cart._id %>">
                                            <%= cart.subTotal %>.$
                                        </span>
                                    </div>
                        </div>
                        <div class="coupon-apply ">
                            <!-- <span class="coupon-text">Coupon Code:</span> -->
                            <div class="apply-input d-flex justify-content-center">
                                <input type="text" placeholder="Apply coupon here" name="couponCode" id="coupon-code">
                                <button onclick="applyCoupon('<%= cart._id %>')" class="btn btn-danger" style="width:75px;">Apply </button>
                            </div>
                        </div>
                        <div class="action-item m-0">
                            <div class="payment-options checkout-options">
                                <span class="subtotal">Payment Methods</span><br>
                                <input type="radio" name="payment" value="COD">Cash on Delivery<br>
                                <input type="radio" name="payment" value="Razorpay">Online Payment
                                <!-- <input type="radio" name="payment" value="PayPal">PayPal -->

                            </div>
                        </div>
                        <button type="submit" class="place-order-btn" id="rzp-button1">Place Order</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
        
        $('#checkout-form').submit((element) => {
            element.preventDefault();
            
            $.ajax({
                url: '/checking-out',
                method: 'POST',
                data: $('#checkout-form').serialize(),
                success: (response) => {
                    // let ID=response._id,
                    console.log(response)
                   if (response.data) {
                        document.location.href = '/thankyou'
                    }
                    else if (response.status) {
                        console.log(response.generateRazorPay)
                        OnlinePayment(response.generateRazorPay)
                    }
                }
            })
        })
        function OnlinePayment(order) {
            var options = {
                "key": "rzp_test_rAL7bCYJfomjUh", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "WELL WEAR",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    // alert(response.razorpay_payment_id);
                    // alert(response.razorpay_order_id);
                    // alert(response.razorpay_signature)
                    verifyPayment(response, order);
                },
                "prefill": {
                    "name": "Akshay",
                    "email": "akshaysv957@gmail.com",
                    "contact": "8129382855"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response) {
                alert(response.error.code);
                alert(response.error.description);
                alert(response.error.source);
                alert(response.error.step);
                alert(response.error.reason);
                alert(response.error.metadata.order_id);
                alert(response.error.metadata.payment_id);
            });
            rzp1.open();
            // e.preventDefault();

        }
        function verifyPayment(payment, order) {
            const ID = order.reciept
            $.ajax({
                url: '/verify-payment',
                method: 'post',
                data: {
                    payment, order
                },
                success: (response) => {
                    // console.log(response)
                    if (response.status) {
                        location.href = '/thankyou'
                    }
                }
            })
        }

         function applyCoupon(id) {
                
                let coupon = $('#coupon-code').val()
                $.ajax({
                    url:'/check-coupon',
                    method:'post',
                    data:{coupon},
                    success:async(response)=>{
                        if(response.status&&response.data){
                            console.log(response)
                            $('#discount'+id).html(response.data.discount)
                            $('#newsubT'+id).html(response.data.newSubtotal)
                        }else{
                            Swal.fire(response.message)
                        }
                    }
                })
            }
    </script>

    <%- include('partials/user-footer.ejs') %>

        <body>
            <!--================= Preloader Section Start Here =================-->
            <!--================= Jquery latest version =================-->
            <script src="/js/vendors/jquery-3.6.0.min.js"></script>
            <!--================= Bootstrap latest version =================-->
            <script src="/js/vendors/bootstrap.min.js"></script>
            <!--================= Wow.js =================-->
            <script src="/js/vendors/wow.min.js"></script>
            <!--================= Swiper Slider =================-->
            <script src="/js/vendors/swiper-bundle.min.js"></script>
            <!--================= Nice Select =================-->
            <script src="/js/vendors/jquery.nice-select.js"></script>
            <!--================= Zoom Plugin =================-->
            <script src="/js/vendors/zoom.js"></script>
            <!--================= metisMenu Plugin =================-->
            <script src="/js/vendors/metisMenu.min.js"></script>
            <!--================= Main Menu Plugin =================-->
            <script src="/js/vendors/rtsmenu.js"></script>
            <!--================= Magnefic Popup Plugin =================-->
            <script src="/js/vendors/isotope.pkgd.min.js"></script>
            <!--================= Magnefic Popup Plugin =================-->
            <script src="/js/vendors/jquery.magnific-popup.min.js"></script>
            <!--================= Main Script =================-->
            <script src="/js/main.js"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        </body>